body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #003399;
    color: white;
    padding: 10px 20px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
}

/* Agregar transiciones y efectos al menú para mejor interacción visual */
.menu li a:hover {
    background-color: #555;
    padding: 10px;
}
